<!-- <div class="row">
    <div class="col-6" *ngFor="let item of items">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <button class="btn btn-primary" (click)="openDialog(item)">Ver</button>
            </div>
        </div>
    </div>
</div> -->

<div class="row mt-4">
    <div class="col-6" *ngFor="let item of items">
        <a (click)="openDialog(item)">
            <div class="block-item">
                <div class="block-item__image-container">
                    <img [src]="item.image_route | imageRoute" alt="{{item.name}}">
                </div>
                <div>
                    <h3 class="block-item__title">{{item.name}}</h3>
                </div>
            </div>
        </a>
    </div>
</div>